Repository apache/incubator-marvin: changes, and which Codecov flags are due for each by the changed paths.
All: engine-executor, python-toolbox

Added .codecov.yml to support monorepo like structure to report coverage for engine executor and python-toolbox
  .codecov.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

CodeCov related changes: - Started reporting the coverage for scala during travis build
  .travis.yml
Due: none

Removed port conflict
  python-toolbox/marvin_python_toolbox/management/notebook.py
Due: python-toolbox

bigquery support
  python-toolbox/marvin_python_toolbox/management/__init__.py
  python-toolbox/marvin_python_toolbox/management/bigquery.py
  python-toolbox/marvin_python_toolbox/management/templates/python-engine/engine.metadata
  python-toolbox/setup.py
Due: python-toolbox

Fix requirements
  python-toolbox/setup.py
Due: none

Update test dependencies
  python-toolbox/setup.py
Due: none

Fix CI dependency error
  .travis.yml
Due: none

Marvin engine-delete created. Autokeras added in automl script
  python-toolbox/marvin_python_toolbox/management/engine.py
  python-toolbox/marvin_python_toolbox/management/templates/python-engine/install_automl.sh
Due: python-toolbox

Autokeras added in automl install script
  python-toolbox/marvin_python_toolbox/management/templates/python-engine/install_automl.sh
Due: python-toolbox

Adding Azure Capabilities
  engine-executor/build.sbt
  engine-executor/src/main/scala/META-INF/MANIFEST.MF
  engine-executor/src/main/scala/org/marvin/artifact/manager/ArtifactAZSaver.scala
  engine-executor/src/main/scala/org/marvin/artifact/manager/ArtifactSaver.scala
  engine-executor/src/main/scala/org/marvin/model/Metadata.scala
  engine-executor/src/test/scala/org/marvin/artifact/manager/ArtifactSaverTest.scala
  engine-executor/src/test/scala/org/marvin/executor/api/GenericAPITest.scala
  engine-executor/src/test/scala/org/marvin/fixtures/MetadataMock.scala
  engine-executor/src/test/scala/org/marvin/util/ProtocolUtilTest.scala
Due: engine-executor

Travis python version change to python3.7
  .travis.yml
Due: none

Changed requirement six to 1.14.0. Bug fix
  python-toolbox/setup.py
Due: none

Marvin engine delete command
  python-toolbox/marvin_python_toolbox/management/engine.py
Due: python-toolbox

get_dir_name and get_package name functions added
  python-toolbox/marvin_python_toolbox/management/engine.py
Due: python-toolbox

fix thrift-sasl to version 0.3.0
  python-toolbox/setup.py
Due: none

Delete virtualenv comment added
  python-toolbox/marvin_python_toolbox/management/engine.py
Due: python-toolbox

Change log level to INFO
  python-toolbox/marvin_python_toolbox/_logging.py
  python-toolbox/marvin_python_toolbox/management/templates/python-engine/project_package/_logging.py
Due: python-toolbox

Image loader class from autokeras
  python-toolbox/marvin_python_toolbox/common/image_loader.py
Due: python-toolbox

optimization debian package manager tweaks
  build/Dockerfile
  build/docker-python/Dockerfile
  build/docker-r/Dockerfile
  public-engines/iris-automl/fabfile.py
  public-engines/iris-h2o-automl/fabfile.py
  public-engines/kaggle-titanic-engine/Dockerfile
  public-engines/kaggle-titanic-engine/fabfile.py
  public-engines/mnist-keras-engine/Dockerfile
  public-engines/mnist-keras-engine/fabfile.py
  public-engines/nlp-ner-engine/Dockerfile
  public-engines/nlp-ner-engine/fabfile.py
  public-engines/product-classifier-engine/Dockerfile
  public-engines/product-classifier-engine/fabfile.py
  public-engines/sms-spam-engine/Dockerfile
  public-engines/sms-spam-engine/fabfile.py
Due: none

Image loader class from autokeras
  python-daemon/marvin_python_daemon/common/image_loader.py
Due: none

Solve integration errors
  python-daemon/.gitignore
  python-daemon/Makefile
  python-daemon/marvin_python_daemon/common/config.py
  python-daemon/marvin_python_daemon/common/utils.py
  python-daemon/marvin_python_daemon/extras/notebook_extensions/jupyter_notebook_config.py
  python-daemon/marvin_python_daemon/management/notebook.py
  python-daemon/marvin_python_daemon/management/test.py
Due: none

Fix .gitignore
  .travis.yml
  python-daemon/.gitignore
Due: none

Change .travis.yml to python3
  python-daemon/.travis.yml
Due: none

Fix .travis.yml location
  .travis.yml
Due: none

Fix .travis.yml codecov install
  .travis.yml
Due: none

Update tests to fix CI
  python-daemon/marvin_python_daemon/management/notebook.py
  python-daemon/tests/common/test_data_source_provider.py
  python-daemon/tests/engine_base/serializers/test_keras_serializer.py
  python-daemon/tests/management/test_notebook.py
Due: none

Fix heathcheck bug
  python-daemon/marvin_python_daemon/engine_base/engine_base_action.py
  python-daemon/marvin_python_daemon/engine_base/engine_base_data_handler.py
  python-daemon/marvin_python_daemon/management/engine.py
  python-daemon/setup.py
  python-daemon/tests/engine_base/test_engine_base_action.py
  python-daemon/tests/engine_base/test_engine_base_data_handler.py
Due: none

Add cli in CI
  .travis.yml
Due: none

Fix names of variables in ImageLoader Class
  python-daemon/marvin_python_daemon/common/image_loader.py
Due: none

Reader from dataframe added
  python-daemon/marvin_python_daemon/common/image_loader.py
Due: none

Minor Bug fixes and Notebook security fix
  marvin-cli/Makefile
  marvin-cli/README.md
  marvin-cli/bin/marvin
  marvin-cli/marvin_cli/communication/remote_calls.py
  marvin-cli/marvin_cli/management/engine.py
  marvin-cli/marvin_cli/management/notebook.py
  marvin-cli/marvin_cli/utils/docker.py
  marvin-cli/marvin_cli/utils/misc.py
  marvin-cli/setup.py
  marvin-cli/tests/communication/test_remote_calls.py
  marvin-cli/tests/utils/test_misc.py
  python-daemon/marvin_python_daemon/daemon_base/command_server.py
  python-daemon/marvin_python_daemon/extras/notebook_extensions/jupyter_notebook_config.py
  python-daemon/marvin_python_daemon/management/engine.py
  python-daemon/marvin_python_daemon/management/notebook.py
  python-daemon/tests/management/test_notebook.py
Due: none

Benchmark support added
  marvin-cli/bin/marvin
  marvin-cli/marvin_cli/management/engine.py
  marvin-cli/marvin_cli/utils/benchmark.py
  marvin-cli/tests/utils/test_benchmark.py
Due: none

Path conditions:
  engine-executor: any of: engine-executor/src
  python-toolbox: any of: python-toolbox/marvin_python_toolbox
